body {
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 100vh;
}

p {
    font-size: 15px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 15px 0;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

.footer-widget h6 {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.footer-widget ul li {
    line-height: 36px;
    list-style: none;
}

.footer-widget ul li a {
    font-size: 15px;
}

.footer-widget ul li a:hover {
    font-size: 16px;
    font-weight: 700;
}

.footer-copyright-text {
    border-top: 1px solid #000;
}