body {
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

.carousel-item {
    height: 100vh;
}

p {
    font-size: 15px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 15px 0;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

.footer-widget h6 {
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.footer-widget ul li {
    line-height: 36px;
    list-style: none;
}

.footer-widget ul li a {
    font-size: 15px;
}

.footer-widget ul li a:hover {
    font-size: 16px;
    font-weight: 700;
}

.footer-copyright-text {
    border-top: 1px solid #000;
}


/* quiz section */

.choice-container {
    display: flex;
    align-items: center;
    border: #28a745 1px solid;
    height: 58px;
    margin-bottom: 20px;
    border-radius: 42px;
    background-color: white;
}

.choice-container:hover {
    cursor: pointer;
}

.choice-prefix {
    background-color: #28a745;
    color: white;
    border-radius: 42px;
}

.choice-text {
    width: 100%;
    margin-left: 40px;
    margin-top: 15px;
}

.correct {
    background-color: #28a745;
}

.incorrect {
    background-color: #dc3545;
}


/* HUD */

#hud-item {
    display: flex;
    justify-content: space-between;
}

.hud-prefix {
    font-size: 2rem;
}

#progressBar {
    width: 200px;
    height: 30px;
    top: 80px;
    border: 1px solid #28a745;
    border-radius: 5px;
}

#progressBarFull {
    height: 30px;
    background-color: #28a745;
    width: 0%;
    border-radius: 5px;
}


/*End quiz section */

.contain-wrap {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    width: 100%;
    max-width: 700px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: auto;
    /* align-items: center; */
    justify-content: center;
}


/* BUTTONS */

.score-btn {
    width: 20rem;
    background-color: #28a745;
    text-align: center;
}

.btn:hover {
    cursor: pointer;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    transform: none;
}


/* FORMS */

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 20rem;
    outline: none;
    border: #28a745 1px solid;
}